* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #7D567F;
    overflow-x: hidden;
    position: relative;
}

/* SECCIONES */
section {
    position: relative;
    width: 100%;
}

/* ================= PORTADA ================= */

.seccion-portada {
    position: relative;
}

/* FONDO 1 */
.fondo1-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

/* CONTENIDO ARRIBA */
.titulo-img,
.sticker-img,
.fecha-img,
.dresscode-img,
.playlist-img,
.regalo-img,
.asistencia-img {
    position: relative;
    z-index: 10;
}

/* TITULO */
.titulo-img {
    width: 100%;
    display: block;
}

/* STICKER */
.sticker-container {
    margin-top: -30%;
}

.sticker-img {
    width: 90%;
    display: block;
    margin: auto;
    filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.3));
}

/* ================= FECHA ================= */

.seccion-fecha {
    margin-top: 25%;
}

.fecha-img {
    width: 100%;
    display: block;
}

.boton-invisible-mapa {
    position: absolute;
    bottom: 38%;
    left: 38%;
    width: 35%;
    height: 40px;
    z-index: 20;
    background-color: rgba(255, 0, 0, 0.5);
}

/* ================= DRESSCODE ================= */

.seccion-dresscode {
    margin-top: 35%;
}

.dresscode-container {
    position: relative;
    top: -10px;
}

.dresscode-img {
    width: 100%;
    position: relative;
    top: -15px;
}

/* ================= PLAYLIST ================= */

.seccion-playlist {
    margin-top: 10%;
}

.playlist-container {
    position: relative;
}

.playlist-img {
    width: 95%;
    margin: auto;
    display: block;
    position: relative;
    top: 90px;
}

/* FONDO 2 */
.fondo2-img {
    position: absolute;
    top: -130%;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* BOTON */
.boton-invisible-playlist {
    position: absolute;
    bottom: 12%;
    left: 63%;
    transform: translateX(-50%);
    width: 23%;
    height: 42px;
    z-index: 20;
    background-color: rgba(255, 0, 0, 0.5);
}

/* ================= REGALO ================= */

.seccion-regalo {
    margin-top: 15%;
}

.regalo-container {
    position: relative;
}

.regalo-img {
    width: 100%;
    position: relative;
    top: 160px;
}

.boton-invisible-regalo {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 50px;
    z-index: 20;
    background-color: rgba(255, 0, 0, 0.5);
}

/* ================= ASISTENCIA ================= */

.seccion-asistencia {
    margin-top: 15%;
}

.asistencia-container {
    position: relative;
}

.asistencia-img {
    width: 100%;
    position: relative;
    top: 190px;
}

/* FONDO 3 */
.fondo3-img {
    position: absolute;
    top: -77%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.boton-invisible-asistencia {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 33px;
    z-index: 20;
    background-color: rgba(255, 0, 0, 0.5);
}

/* ================= POPUP ================= */

.overlay-popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-contenido {
    width: 95%;
    text-align: center;
}

.datos-img {
    width: 100%;
}

.boton-cerrar {
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    border: none;
}
